In [1]:
import pandas as pd

In [14]:
grant_df = pd.read_csv("../Data/Community_Development_Block_Grant_Activity.csv")
carbon_df = pd.read_csv("../Data/carbon_years.csv")
states_df = pd.read_csv("../Data/states.csv")

In [30]:
states_dict = dict(zip(states_df["State"], states_df["Postal"]))

In [33]:
carbon_df["State"].replace(states_dict, inplace=True)

In [37]:
full_df = carbon_df.merge(grant_df, left_on="State", right_on="STATE")
full_df = full_df[["STATE", "GROUPING", "ACTV_FUNDING_AMT", "2021"]]

In [39]:
result = full_df.groupby('STATE').agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'
}).reset_index()

In [41]:
result["ACTV_FUNDING_AMT"].corr(result["2021"])

0.7324654760173449

In [ ]:
result["ACTV_FUNDING_AMT"].corr(result["2021"])

In [54]:
public_services = full_df[full_df["GROUPING"]=="Public Services"]
public_services = public_services.groupby(["STATE"]).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'}).reset_index()
public_services["ACTV_FUNDING_AMT"].corr(public_services["2021"])

0.6234022349843553

Public services correlation - 0.6234

In [57]:
full_df["GROUPING"].unique()

array(['Public Services', 'Economic Development', 'Housing',
       'Acquisition', 'Public Improvements', 'Other', 'Housing Services'],
      dtype=object)

In [58]:
economic_development = full_df[full_df["GROUPING"]=="Economic Development"]
economic_development = economic_development.groupby(["STATE"]).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'}).reset_index()
economic_development["ACTV_FUNDING_AMT"].corr(economic_development["2021"])

0.5872005263071874

Economic development correlation - 0.587

In [59]:
housing = full_df[full_df["GROUPING"]=="Housing"]
housing = housing.groupby(["STATE"]).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'}).reset_index()
housing["ACTV_FUNDING_AMT"].corr(housing["2021"])

0.5792706667147792

Housing - 0.579

In [61]:
acquisition = full_df[full_df["GROUPING"]=="Acquisition"]
acquisition = acquisition.groupby(["STATE"]).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'}).reset_index()
acquisition["ACTV_FUNDING_AMT"].corr(acquisition["2021"])

0.4951583351124037

Acquisition - 0.495

In [62]:
public_improvements = full_df[full_df["GROUPING"]=="Public Improvements"]
public_improvements = public_improvements.groupby(["STATE"]).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'}).reset_index()
public_improvements["ACTV_FUNDING_AMT"].corr(public_improvements["2021"])

0.8110002999872935

Public improvements - 0.811

In [63]:
other = full_df[full_df["GROUPING"]=="Other"]
other = other.groupby(["STATE"]).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'}).reset_index()
other["ACTV_FUNDING_AMT"].corr(other["2021"])

0.2769992627655693

Other - 0.277

In [64]:
housing_services = full_df[full_df["GROUPING"]=="Housing Services"]
housing_services = housing_services.groupby(["STATE"]).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'}).reset_index()
housing_services["ACTV_FUNDING_AMT"].corr(housing_services["2021"])

1.0

In [73]:
_ = full_df.groupby(["STATE"]).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'}).reset_index()

In [74]:
_.sort_values("ACTV_FUNDING_AMT")

   STATE  ACTV_FUNDING_AMT   2021
8     DE      1.833005e+07   13.0
0     AK      2.041823e+07   38.9
50    WY      2.357079e+07   54.6
46    VT      2.502197e+07    5.6
29    NE      4.155261e+07   47.2
26    MT      4.326653e+07   28.5
41    SD      4.526529e+07   15.2
28    ND      4.629348e+07   56.5
13    ID      6.219280e+07   20.5
32    NM      6.652773e+07   45.9
21    ME      7.210585e+07   14.4
30    NH      9.567130e+07   13.3
12    IA      9.634978e+07   73.1
40    SC      1.317979e+08   69.3
49    WV      1.349272e+08   88.4
44    UT      1.395108e+08   62.1
36    OK      1.395546e+08   87.8
11    HI      1.450071e+08   17.3
27    NC      1.452873e+08  115.6
39    RI      1.667239e+08   10.6
16    KS      1.954497e+08   59.8
33    NV      1.998577e+08   39.4
2     AR      2.144965e+08   62.0
1     AL      2.377759e+08  108.4
17    KY      2.469335e+08  111.3
45    VA      2.518477e+08   98.0
7     DC      2.635115e+08    2.5
23    MN      2.734894e+08   83.2
25    MS      2.735856e+08   63.1
5     CO      3.006614e+08   85.4
42    TN      3.073491e+08   92.7
37    OR      3.092342e+08   38.5
20    MD      3.330191e+08   52.6
10    GA      3.453272e+08  124.1
3     AZ      3.874702e+08   83.0
6     CT      4.201974e+08   36.6
47    WA      4.259328e+08   73.8
15    IN      4.585946e+08  166.4
24    MO      4.963701e+08  117.0
18    LA      5.348706e+08  188.6
48    WI      5.845612e+08   92.5
19    MA      7.830649e+08   56.1
22    MI      8.548898e+08  147.8
31    NJ      8.892578e+08   89.1
9     FL      1.109592e+09  226.3
35    OH      1.183047e+09  194.0
34    NY      1.247213e+09  156.0
38    PA      1.345744e+09  213.5
14    IL      1.460730e+09  184.2
43    TX      1.914317e+09  663.5
4     CA      3.930914e+09  324.0

In [76]:
_.sort_values("2021")

   STATE  ACTV_FUNDING_AMT   2021
7     DC      2.635115e+08    2.5
46    VT      2.502197e+07    5.6
39    RI      1.667239e+08   10.6
8     DE      1.833005e+07   13.0
30    NH      9.567130e+07   13.3
21    ME      7.210585e+07   14.4
41    SD      4.526529e+07   15.2
11    HI      1.450071e+08   17.3
13    ID      6.219280e+07   20.5
26    MT      4.326653e+07   28.5
6     CT      4.201974e+08   36.6
37    OR      3.092342e+08   38.5
0     AK      2.041823e+07   38.9
33    NV      1.998577e+08   39.4
32    NM      6.652773e+07   45.9
29    NE      4.155261e+07   47.2
20    MD      3.330191e+08   52.6
50    WY      2.357079e+07   54.6
19    MA      7.830649e+08   56.1
28    ND      4.629348e+07   56.5
16    KS      1.954497e+08   59.8
2     AR      2.144965e+08   62.0
44    UT      1.395108e+08   62.1
25    MS      2.735856e+08   63.1
40    SC      1.317979e+08   69.3
12    IA      9.634978e+07   73.1
47    WA      4.259328e+08   73.8
3     AZ      3.874702e+08   83.0
23    MN      2.734894e+08   83.2
5     CO      3.006614e+08   85.4
36    OK      1.395546e+08   87.8
49    WV      1.349272e+08   88.4
31    NJ      8.892578e+08   89.1
48    WI      5.845612e+08   92.5
42    TN      3.073491e+08   92.7
45    VA      2.518477e+08   98.0
1     AL      2.377759e+08  108.4
17    KY      2.469335e+08  111.3
27    NC      1.452873e+08  115.6
24    MO      4.963701e+08  117.0
10    GA      3.453272e+08  124.1
22    MI      8.548898e+08  147.8
34    NY      1.247213e+09  156.0
15    IN      4.585946e+08  166.4
14    IL      1.460730e+09  184.2
18    LA      5.348706e+08  188.6
35    OH      1.183047e+09  194.0
38    PA      1.345744e+09  213.5
9     FL      1.109592e+09  226.3
4     CA      3.930914e+09  324.0
43    TX      1.914317e+09  663.5

California spends the most on community grants and has the second highest carbon emissions
Texas spends the second most on community grants and has the highest carbon emissions

In [77]:
_2 = full_df.groupby(["GROUPING"]).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'}).reset_index()

In [78]:
_2.sort_values("ACTV_FUNDING_AMT")

               GROUPING  ACTV_FUNDING_AMT        2021
3      Housing Services      6.308887e+05  223.100000
4                 Other      2.246213e+08  152.228028
0           Acquisition      9.986892e+08  187.690516
2               Housing      2.780728e+09  146.446868
1  Economic Development      3.341426e+09  163.214025
6       Public Services      5.733308e+09  186.523919
5   Public Improvements      1.035928e+10  189.578678

In [89]:
# Group by 'STATE' and 'GROUPING', then aggregate
grouped = full_df.groupby(['STATE', 'GROUPING']).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'
}).reset_index()

# Get rows with the highest 'ACTV_FUNDING_AMT' for each 'STATE'
idx = grouped.groupby('STATE')['ACTV_FUNDING_AMT'].idxmin()
highest_funding_per_state = grouped.loc[idx]

In [90]:
highest_funding_per_state.sort_values("2021").reset_index()

    index STATE              GROUPING  ACTV_FUNDING_AMT   2021
0      44    DC                 Other        1408000.00    2.5
1     270    VT           Acquisition         989684.22    5.6
2     232    RI                 Other         189727.62   10.6
3      48    DE  Economic Development         466986.80   13.0
4     177    NH                 Other         265000.00   13.3
5     127    ME                 Other          50406.78   14.4
6     241    SD           Acquisition         162147.64   15.2
7      65    HI           Acquisition          50160.00   17.3
8      77    ID           Acquisition         248431.38   20.5
9     155    MT                 Other         513200.00   28.5
10     38    CT                 Other        1633040.98   36.6
11    219    OR                 Other         379535.74   38.5
12      0    AK           Acquisition         354689.12   38.9
13    195    NV                 Other          43248.81   39.4
14    189    NM                 Other         109698.89   45.9
15    171    NE               Housing        1740765.50   47.2
16    121    MD                 Other        1319580.22   52.6
17    296    WY                 Other         113512.18   54.6
18    115    MA                 Other       29464717.25   56.1
19    164    ND           Acquisition         796181.92   56.5
20     98    KS                 Other          65402.81   59.8
21     14    AR                 Other          91995.09   62.0
22    261    UT                 Other          50382.21   62.1
23    150    MS               Housing         631340.33   63.1
24    238    SC                 Other         977664.93   69.3
25     74    IA                 Other         627098.83   73.1
26    275    WA           Acquisition        1788059.30   73.8
27     20    AZ                 Other          17000.00   83.0
28    139    MN                 Other          20000.00   83.2
29     32    CO                 Other        1059841.71   85.4
30    213    OK                 Other        5020511.16   87.8
31    290    WV                 Other         565533.65   88.4
32    183    NJ                 Other        1266479.04   89.1
33    284    WI                 Other        5907142.67   92.5
34    249    TN                 Other        1878388.49   92.7
35    267    VA                 Other         784318.62   98.0
36      8    AL                 Other        1984232.42  108.4
37    101    KY           Acquisition       18786990.75  111.3
38    161    NC                 Other        3610398.54  115.6
39    142    MO           Acquisition       20468100.29  117.0
40     62    GA                 Other        1477707.27  124.1
41    133    MI                 Other        4036132.32  147.8
42    201    NY                 Other        1243084.01  156.0
43     92    IN                 Other        4277343.19  166.4
44     86    IL                 Other         378676.66  184.2
45    109    LA                 Other        1430035.95  188.6
46    207    OH                 Other       15985097.33  194.0
47    225    PA      Housing Services         106211.00  213.5
48     55    FL      Housing Services         524677.70  226.3
49     23    CA           Acquisition       22841825.38  324.0
50    255    TX                 Other         419803.32  663.5

In [ ]:
# Group by 'STATE' and 'GROUPING', then aggregate
grouped = full_df.groupby(['STATE', 'GROUPING']).agg({
    'ACTV_FUNDING_AMT': 'sum',
    '2021': 'mean'
}).reset_index()

# Get rows with the highest 'ACTV_FUNDING_AMT' for each 'STATE'
idx = grouped.groupby('STATE')['2021'].idxmax()
highest_funding_per_state = grouped.loc[idx]

TO DO:

Look at risk value correlation

Work on streamlit - making sure all points are met and the look of the site